.wrapper{
    display: flex;
    align-content: flex-start;
}

h2{
    font-family: "Times New Roman", Times, serif;
    color: #336d57;
    margin: 1rem;
    padding: 1rem;
}

.about-us{
    padding: 1rem;
    margin: 1rem;
    font-size: large;
    color:rgba(0,0,0,.55);
    word-wrap: break-word;
    text-align: start;
}

.security-images{
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (max-width: 776px) {
    .wrapper{
      flex-direction: column;
    }
  }
